<div class="row">
  <h3>Interested Compnaies </h3>
    <div class="large-4 columns">
      <table class="responsive">
        <thead>
          <tr>
            <td>Project</td>
            <td>Company</td>
            <td>Category</td>
            <td>Address</td>
            <td>Zipcode</td>
            <td>Contact</td>
            <td>Hours</td>
            <td>Since</td>
          </tr>
        </thead>
          <tbody>
            <% if current_user.role == "user" || current_user.role == "admin" %>
            <% @user.projects.each do |project| %>
              <% project.companies.each do |company| %>
                <tr>
                  <td><%=project.title %></td>
                  <td><%=company.name %></td>
                  <td><%=company.category %></td>
                  <td><%=company.address %></td>
                  <td><%=company.zipcode %></td>
                  <td><%=company.phone %></td>
                  <td><%=company.working_hours %></td>
                  <td><%=company.working_since %></td>
                  <td><%= link_to 'Write A Review', company_path(company), :class => 'button-xs' %></td>
                </tr>
                  <table class="responsive">
                    <th>Proposal</th>
                    <tr>
                    <td><%=project.proposal.body %></td>
                  </tr>
                  </table>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
