<div class="row">
  <h3>Interested Compnaies </h3>
    <div class="large-10 small-12 large-centered column">
      <table class="table">
        <thead>
          <tr>
            <td><h4>Project</h4></td>
            <td><h4>Company</h4></td>
            <td><h4>Category</h4></td>
            <td><h4>Address</h4></td>
            <td><h4>Zipcode</h4></td>
            <td><h4>Contact</h4></td>
            <td><h4>Hours</h4></td>
            <td><h4>Since</h4></td>
          </tr>
        </thead>
          <tbody>
            <% if current_user.role == "user" || current_user.role == "admin" %>
            <% @user.projects.each do |project| %>
              <% project.companies.each do |company| %>
                <tr>
                  <td><h5><%=project.title %></h5></td>
                  <td><%=company.name %></td>
                  <td><%=company.category %></td>
                  <td><%=company.address %></td>
                  <td><%=company.zipcode %></td>
                  <td><%=company.phone %></td>
                  <td><%=company.working_hours %></td>
                  <td><%=company.working_since %></td>
                  <td><%= link_to 'Write A Review', company_path(company), :class => 'button-xs' %></td>
                </tr>
                  <tr>
                    <td><h4>Proposal</h4></td>
                  </tr>
                  <tr>
                    <td><%=project.proposal.body %></td>
                  </tr>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
