<div class="row">
  <h3>Your Projects</h3>
    <div class="large-10 small-12 large-centered column">
      <table class="table">
        <tbody>
          <tr>
            <td><h4>Project</h4></td>
            <td><h4>Details</h4></td>
            <td><h4>Category</h4></td>
            <td><h4>Duration</h4></td>
            <td><h4>Address</h4></td>
            <td><h4>Zipcode</h4></td>
          </tr>
            <% if current_user.role == "contractor" || current_user.role == "admin" %>
            <% @user.company.projects.each do |project| %>
          <tr>
            <td><%=project.title %></td>
            <td><%=project.description %></td>
            <td><%=project.category %></td>
            <td><%=project.duration %></td>
            <td><%=project.address %></td>
            <td><%=project.zipcode %></td>
          </tr>
            <% end %>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
