<h3>Welcome</h3>
<% if user_signed_in? %>
  <% if current_user.try(:admin?) %>
    <h3>Welcome <%= current_user.role %></h3>
      <p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
  <% end %>
<% end %>

<%= link_to "Post A Project", new_project_path, :class => 'button left' %>
<%= link_to "Find A Project", projects_path, :class => 'button right' %>


<% if user_signed_in? %>
  <%= render 'application/new_search_form' %><br />
<% end %>
  <%= render 'application/index_for_projects' %>
