<div class="container">
  <div class="row">
    <h3>Projects</h3>
    <div class="large-10 small-12 large-centered column">
      <table class="table">
        <tbody>
          <tr>
           <td>Project</td>
           <td>Details</td>
           <td>Address</td>
         </tr>
          <% @projects.each do |project| %>
          <tr>
            <td><%= project.title %> </td>
            <td><%= project.description %></td>
            <td><%= project.address %></td>
            <% if project.owner?(current_user) || current_user.try(:admin?) %>
            <td><%= link_to 'Edit', edit_project_path(project), :class => 'button-xs' %></td>
            <td><%= link_to("Delete ", project_path(project),
              :data => { :confirm => "Are you sure?" }, :method => :delete,
                :class => 'button-xs') %></td>
            <% end %>
          </tr>
          <tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
